* {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'),
    url('../fonts/roboto-v30-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-700.woff') format('woff'),
    url('../fonts/roboto-v30-latin-700.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v19-latin-regular.woff') format('woff'),
    url('../fonts/play-v19-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-latin-700.woff') format('woff'),
    url('../fonts/play-v19-latin-700.ttf') format('truetype');
}

:root {
  --primary-bg-color: #ffffff;
  --btn-bg-color: #2b7fff;
  --btn-hover-bg-color: transparent;
  --primary-text-color: #011c44;
  --secondary-text-color: #ffffff;
  --accent-text-color: #2b7fff;
  --btn-text-color: #ffffff;
  --btn-hover-text-color: #011c44;
  --advantages-text-color: #000000;
  --info-text-color: #747272;
  --soc-icon-color: #011c44;
  --soc-footer-icon-color: #ffffff;
  --btn-border-color: #2b7fff;
  --input-border-color: #747272;
  --input-text-color: #ffffff;
  --input-bg-hover: #747272;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  outline: 2px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1272px;
  }
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 2px solid var(--btn-border-color);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  padding: 16px 32px;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
}

.section__title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.section__title-secondary {
  color: var(--accent-text-color);
}

.text-capitalize {
  text-transform: capitalize;
}

/* --- header --- */

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 74px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 240px;
  font-family: 'Play', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 0.9545;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--accent-text-color);
}

.menu {
  display: none;
}
@media screen and (min-width: 480px) {
  .menu {
    display: flex;
    gap: 56px;
    margin-right: 240px;
  }
}

.menu__link {
  padding-top: 42.5px;
  padding-bottom: 42.5px;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--primary-text-color);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-text-color);
}

.menu__link-current {
  font-weight: 700;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.header__contacts-list {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__contacts-list {
    display: flex;
    gap: 32px;
  }
}

.header__contacts-item {
  width: 32px;
  height: 106px;
}

.header__contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__contacts-link:hover .header__contacts-icon,
.header__contacts-link:focus .header__contacts-icon {
  fill: var(--accent-text-color);
}

.header__contacts-icon {  
  fill: var(--soc-icon-color);
}

/* --- hero --- */

.hero {
  padding-top: 122.52px;
  padding-bottom: 126.81px;
}

.hero__text-cosmetology {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero__title {
  max-width: 529px;
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8143;
  text-transform: capitalize;
  color: var(--accent-text-color);
  margin-bottom: 40px;
}

.hero__btn {
  margin-bottom: 14px;
}

.hero__text-sign {
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
  text-align: center;
}

/* --- reincarnate --- */

.reincarnate {
  padding-bottom: 88px;
}

.reincarnate__text {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: calc(38 / 22);
}

.reincarnate__text-bold {
  font-weight: 600;
  text-transform: capitalize;
}

/* --- advantages --- */

.advantages {
  padding-top: 88px;
  padding-bottom: 48px;
}

.advantages__list-item {
  padding: 24px 32px;
}

.advantages__list-icon {
  margin-bottom: 8px;
}

.advantages__list-text {
  color: var(--advantages-text-color);
  /* text-align: center; */
  font-size: 18px;
  line-height: calc(24 / 18);
}

/* --- procedures --- */

.procedures {
  padding-top: 48px;
  padding-bottom: 48px;
}

.procedures__text {
  /* color: var(--secondary-text-color); */
  text-align: center;
  font-size: 22px;
  line-height: calc(26 / 22);
}

/* --- contacts --- */

.contacts {
padding-top: 48px;
padding-bottom: 94px;
}

.record {
  padding: 48px 56px;
}

.record__title {
  margin-bottom: 32px;
  /* color: var(--secondary-text-color); */
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}

.record__title-secondary {
  color: var(--accent-text-color);
}

.record__form-field {
  margin-bottom: 16px;
}

.record__form-label {
  display: block;
  /* color: var(--secondary-text-color); */
  font-size: 13px;
  line-height: 1.2;
}

.record__form-input {
  width: 100%;
  height: 52px;
  border-radius: 32px;
  border: 2px solid var(--input-border-color);
  font-size: 13px;
  line-height: 1.2;
  padding: 18px 32.85px;
  color: var(--input-text-color);
  background-color: transparent;
  outline: transparent;  
  cursor: pointer;
}

.record__form-input:hover, .record__form-input:focus {
  background-color: var(--input-bg-hover);
}

.record__form-btn {
  margin-bottom: 8px;
}

.record__form-text-policy,
.record__form-policy {
  font-size: 12px;
  line-height: calc(18 / 12);
  color: var(--info-text-color);
}

/* --- footer --- */

.footer {
  background-color: #011c44;
}

.footer__logo {
  margin: 0;
  padding: 0;
}

.footer__menu-item {
  margin-bottom: 16px;
}

.footer__menu-item:last-child {
  margin-bottom: 0px;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.address__list {
  margin-bottom: 16px;
}

.address__item {
  margin-bottom: 16px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

.address__link {
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.footer__contacts-link {
  fill: var(--soc-footer-icon-color);
}

.footer__text-policy {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.footer__text-warning {
  font-size: 13px;
  line-height: 1.2;
  color: var(--info-text-color);
}
