*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'),
    url('../fonts/roboto-v30-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-700.woff') format('woff'),
    url('../fonts/roboto-v30-latin-700.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v19-latin-regular.woff') format('woff'),
    url('../fonts/play-v19-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-latin-700.woff') format('woff'),
    url('../fonts/play-v19-latin-700.ttf') format('truetype');
}

:root {
  --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-star: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-bg-color: #ffffff;
  --hero-bg-linear-gradient: linear-gradient(
    89deg,
    #fff 30.62%,
    rgba(255, 255, 255, 0.85) 41.31%,
    rgba(255, 255, 255, 0.19) 58.65%,
    rgba(255, 255, 255, 0) 72.78%
  );
  --hero-bg-color: #c4c4c4;
  --secondary-bg-color: #011c44;
  --backdrop-bg-color: rgba(0, 0, 0, 0.5);
  --btn-bg-color: #2b7fff;
  --btn-hover-bg-color: transparent;
  --primary-text-color: #011c44;
  --secondary-text-color: #ffffff;
  --accent-text-color: #2b7fff;
  --btn-text-color: #ffffff;
  --btn-hover-text-color: #011c44;
  --advantages-text-color: #000000;
  --advantages-icon-color: #2b7fff;
  --info-text-color: #747272;
  --soc-icon-color: #011c44;
  --soc-footer-icon-color: #ffffff;
  --btn-border-color: #2b7fff;
  --input-border-color: #747272;
  --input-text-color: #ffffff;
  --input-bg-hover: #747272;
  --carousel-btn-border-color: #011c44;
  --carousel-arrow-color: #011c44;
  --carousel-hover-btn-bg-color: #2b7fff;
  --carousel-hover-btn-border-color: #ffffff;
  --carousel-hover-arrow-color: #ffffff;
  --star-big-bg-color: #011c44;
  --star-medium-bg-color: #2b7fff;
  --star-small-bg-color: #747272;
  --procedures-card-linear-gradient: rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%, #011c44 101.39%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  outline: 2px solid red;
  max-width: 1272px;
}

/* @media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1272px;
  }
} */

.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 2px solid var(--btn-border-color);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  padding: 16px 32px;
  transition: background-color var(--animation), color var(--animation),
    border var(--animation);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
}

.section__title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.section__title-secondary {
  color: var(--accent-text-color);
}

.text-capitalize {
  text-transform: capitalize;
}

.right {
  float: right;
}

/* --- header --- */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 74px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 240px;
  font-family: 'Play', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 0.9545;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--accent-text-color);
}

.menu {
  display: none;
}
@media screen and (min-width: 480px) {
  .menu {
    display: flex;
    gap: 56px;
    margin-right: 240px;
  }
}

.menu__link {
  padding-top: 42.5px;
  padding-bottom: 42.5px;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color var(--animation);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-text-color);
}

.menu__link-current {
  font-weight: 700;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.header__contacts-list {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__contacts-list {
    display: flex;
    gap: 32px;
  }
}

.header__contacts-item {
  width: 32px;
  height: 106px;
}

.header__contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__contacts-link:hover .header__contacts-icon,
.header__contacts-link:focus .header__contacts-icon {
  fill: var(--accent-text-color);
}

.header__contacts-icon {
  fill: var(--soc-icon-color);
  transition: fill var(--animation);
}

/* --- hero --- */

.hero {
  background-color: var(--hero-bg-color);
  background-image: var(--hero-bg-linear-gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  border-radius: 40px 20% / 20px 80%;
  padding-top: 122.52px;
  padding-bottom: 126.81px;
}

.hero__wrapper {
  padding-left: 140px;
}

.hero__text-cosmetology {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero__title {
  max-width: 529px;
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8143;
  text-transform: capitalize;
  color: var(--accent-text-color);
  margin-bottom: 40px;
}

.hero__btn {
  margin-bottom: 14px;
}

.hero__text-sign {
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
  text-align: center;
}

/* --- reincarnate --- */

.reincarnate {
  padding-bottom: 88px;
}

.reincarnate__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.reincarnate__wrapper-text {
  max-width: 709px;
}

.reincarnate__title {
  max-width: 529px;
  padding-top: 39.66px;
}

.reincarnate__text {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: calc(38 / 22);
}

.reincarnate__text-width {
  max-width: 650px;
}

.reincarnate__text-bold {
  font-weight: 600;
  text-transform: capitalize;
}

.reincarnate__img {
  position: relative;
  flex-grow: 1;
}

.reincarnate__img-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* float: right; */
}

.reincarnate__img-item {
  float: right;
}

.reincarnate__img-img {
  width: 335px;
  height: 328px;
  border-radius: 50%;
}

.reincarnate__star-big {
  position: absolute;
  top: 335px;
  right: 395px;
  fill: var(--star-big-bg-color);
  animation: rotate-big var(--animation-star);
  transition: transform var(--animation-star);  
}

@keyframes rotate-big {
  0% {
    transform: rotate(0deg);
  }
  50% {
    scale: 1.5;
    fill: var(--star-medium-bg-color);
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.reincarnate__star-big:hover {
  transform: rotateZ(360deg);
  scale: 1.5;
    fill: var(--star-medium-bg-color);
}

.reincarnate__star-medium {
  position: absolute;
  top: 32px;
  right: -10px;
  fill: var(--star-medium-bg-color);
  animation: rotate-medium var(--animation-star);
  transition: transform var(--animation-star); 
}

@keyframes rotate-medium {
  0% {
    transform: rotate(0deg);
  }
  50% {
    scale: 1.5;
    fill: var(--star-small-bg-color);
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.reincarnate__star-medium:hover {
  transform: rotateZ(-360deg);
  scale: 1.5;
    fill: var(--star-small-bg-color);
}

.reincarnate__star-small {
  position: absolute;
  top: 269px;
  right: 10px;
  fill: var(--star-small-bg-color);
  animation: rotate-small var(--animation-star);
  transition: transform var(--animation-star); 
}

@keyframes rotate-small {
  0% {
    transform: rotate(0deg);
  }
  50% {
    scale: 1.5;
    fill: var(--star-big-bg-color);
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.reincarnate__star-small:hover {
  transform: rotateZ(-360deg);
  scale: 1.5;
    fill: var(--star-big-bg-color);
}

/* --- advantages --- */

.advantages {
  padding-top: 88px;
  padding-bottom: 48px;
}

.advantages__title {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  text-align: center;
}

.advantages__list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 1060px;
  gap: 56px;
}

.advantages__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;
  width: calc((100% - 112px) / 3);
  border-radius: 32px;
}

.advantages__list-icon {
  margin-bottom: 8px;
  fill: var(--advantages-icon-color);
}

.advantages__list-text {
  color: var(--advantages-text-color);
  /* text-align: center; */
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;
}

/* --- procedures --- */

.procedures {
  padding-top: 48px;
  padding-bottom: 48px;
}

.procedures__title {
  text-align: center;
}

.procedures__container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures__carousel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--carousel-btn-border-color);
  border-radius: 50%;
  cursor: pointer;
}

.procedures__carousel-btn.next {
  transform: rotate(180deg);
}

.procedures__carousel-btn:hover,
.procedures__carousel-btn:focus {
  background-color: var(--carousel-hover-btn-bg-color);
  border: 1px solid var(--carousel-hover-btn-border-color);
}

.procedures__carousel-btn:hover .procedures__carousel-icon,
.procedures__carousel-btn:focus .procedures__carousel-icon {
  fill: var(--carousel-hover-arrow-color);
}

.procedures__carousel-icon {
  fill: var(--soc-icon-color);
}

.procedures__list {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 16px;
}

.procedures__item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures__card {
  position: relative;
}

.procedures__card-img {
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px 120px;
  background-image: linear-gradient(var(--procedures-card-linear-gradient));
}

.procedures__text {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%);
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 22px;
  line-height: calc(26 / 22);
}

/* --- contacts --- */

.contacts {
  padding-top: 48px;
  padding-bottom: 94px;
}

.contacts__title {
  text-align: center;
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.contacts__map {
  border: transparent;
  border-radius: 32px;
}

.record {
  background-color: var(--secondary-bg-color);
  background-image: url(../images/record-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding: 48px 56px;
  max-width: 423px;
  border-radius: 32px;
}

.record__title {
  margin-bottom: 32px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  max-width: 300px;
}

.record__title-secondary {
  color: var(--accent-text-color);
}

.record__form-field {
  margin-bottom: 16px;
}

.record__form-label {
  display: block;
  color: var(--secondary-text-color);
  font-size: 13px;
  line-height: 1.2;
}

.record__form-input {
  width: 100%;
  height: 52px;
  border-radius: 32px;
  border: 2px solid var(--input-border-color);
  font-size: 13px;
  line-height: 1.2;
  padding: 18px 32.85px;
  color: var(--input-text-color);
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  transition: background-color var(--animation);
}

.record__form-input:hover,
.record__form-input:focus {
  background-color: var(--input-bg-hover);
}

.record__form-btn {
  margin-bottom: 8px;
}

.record__form-btn:hover,
.record__form-btn:focus {
  color: var(--btn-text-color);
}

.record__form-text-policy,
.record__form-policy {
  max-width: 205px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  line-height: calc(18 / 12);
  text-align: center;
  color: var(--info-text-color);
}

/* --- footer --- */

.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--secondary-bg-color);
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.footer::after {
  content: '';
  position: absolute;
  width: 247px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-image: url(../images/footer-bg-decor.png);
  background-repeat: no-repeat;
}

.footer__container-wrapper {
  /* position: relative; */
  display: flex;
  gap: 186px;
}

/* .footer__wrapper::after {
  content: '';
  position: absolute;
  width: 247px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-image: url(../images/footer-bg-decor.png);
  background-repeat: no-repeat;
} */

.footer__nav {
  display: flex;
  justify-content: space-between;
  /* gap: 186px; */
  flex-grow: 1;
}

.footer__logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footer__menu-item {
  margin-bottom: 16px;
}

.footer__menu-item:last-child {
  margin-bottom: 0px;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color var(--animation);
}

.footer__menu-link:hover,
.footer__menu-link:focus {
  color: var(--accent-text-color);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.address__list {
  margin-bottom: 16px;
}

.address__item {
  margin-bottom: 16px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

.address__link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color var(--animation);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-text-color);
}

.footer__soc-list {
  display: flex;
  gap: 24px;
}

.footer__soc-link:hover .footer__soc-icon,
.footer__soc-link:focus .footer__soc-icon {
  fill: var(--accent-text-color);
}

.footer__soc-icon {
  fill: var(--soc-footer-icon-color);
  transition: fill var(--animation);
}

.footer__text-policy {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color var(--animation);
}

.footer__text-policy:hover,
.footer__text-policy:focus {
  color: var(--accent-text-color);
}

.footer__text-warning {
  font-size: 13px;
  line-height: 1.2;
  color: var(--info-text-color);
}

/* --- modal --- */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background-color: var(--backdrop-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 42px 144px;
  width: 100%;
  height: 100%;
  max-width: 723px;
  max-height: 680px;
  background-color: var(--secondary-bg-color);
  border-radius: 48px;
  transition: transform var(--animation);
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
}

.modal__btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: 1px solid red;
  cursor: pointer;
}

.modal__btn-close-icon {
  fill: var(--btn-text-color);
}
