.contacts {
    padding-top: 48px;
    padding-bottom: 94px;
  }
  
  .contacts__title {
    text-align: center;
  }
  
  .contacts__wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  
  .contacts__map {
    border: transparent;
    border-radius: 32px;
  }
  
  .record {
    background-color: var(--secondary-bg-color);
    background-image: url(../images/record-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 48px 56px;
    max-width: 423px;
    border-radius: 32px;
  }
  
  .record__title {
    margin-bottom: 32px;
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 300px;
  }
  
  .record__title-secondary {
    color: var(--accent-text-color);
  }
  
  .record__form-field {
    position: relative;
    margin-bottom: 16px;
  }
  
  /* .record__form-label {
    display: block;
    color: var(--secondary-text-color);
    font-size: 13px;
    line-height: 1.2;
  }
  
  .record__form-input {
    width: 100%;
    border-radius: 32px;
    border: 2px solid var(--input-border-color);
    font-size: 13px;
    line-height: 1.2;
    padding: 18px 32.85px;
    color: var(--input-text-color);
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    transition: background-color var(--animation);
  }
  
  .record__form-input:hover,
  .record__form-input:focus {
    background-color: var(--input-bg-hover);
  }
  
  .record__form-btn {
    margin-bottom: 8px;
  }
  
  .record__form-btn:hover,
  .record__form-btn:focus {
    color: var(--btn-text-color);
  }
  
  .record__form-text-policy,
  .record__form-policy {
    max-width: 205px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    line-height: calc(18 / 12);
    text-align: center;
    color: var(--info-text-color);
  } */
  