.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .header__nav {
    display: flex;
    align-items: center;
  }
  
  .logo {
    max-width: 74px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 240px;
    font-family: 'Play', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 0.9545;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--accent-text-color);
  }
  
  .menu {
    display: none;
  }
  @media screen and (min-width: 480px) {
    .menu {
      display: flex;
      gap: 56px;
      margin-right: 240px;
    }
  }
  
  .menu__link {
    padding-top: 42.5px;
    padding-bottom: 42.5px;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color var(--animation);
  }
  
  .menu__link:hover,
  .menu__link:focus {
    color: var(--accent-text-color);
  }
  
  .menu__link-current {
    font-weight: 700;
    line-height: 1.2;
    color: var(--accent-text-color);
  }
  
  .header__contacts-list {
    display: none;
  }
  @media screen and (min-width: 480px) {
    .header__contacts-list {
      display: flex;
      gap: 32px;
    }
  }
  
  .header__contacts-item {
    width: 32px;
    height: 106px;
  }
  
  .header__contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .header__contacts-link:hover .header__contacts-icon,
  .header__contacts-link:focus .header__contacts-icon {
    fill: var(--accent-text-color);
  }
  
  .header__contacts-icon {
    fill: var(--soc-icon-color);
    transition: fill var(--animation);
  }