.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 2px solid var(--btn-border-color);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  padding: 16px 32px;
  transition: background-color var(--animation), color var(--animation),
  border var(--animation);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-bg-color);
    color: var(--btn-hover-text-color);
  }
}
