.logo {
    max-width: 74px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 240px;
    font-family: 'Play', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 0.9545;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--accent-text-color);
  }