.section__title {
  font-family: 'Play', sans-serif;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 24px;

  @media screen and (min-width: $bp-tablet) {         
    font-size: 48px;
    margin-bottom: 36px;
} 

    @media screen and (min-width: $bp-desktop) {         
      font-size: 64px;
      margin-bottom: 48px;
  } 
  }
  
  .section__title-secondary {
    color: var(--accent-text-color);
  }