.section__title {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 48px;
  }
  
  .section__title-secondary {
    color: var(--accent-text-color);
  }