.address {
  margin-bottom: 8px;

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 0;
  } 
}

.address__list {
display: none;
  @media screen and (min-width: $bp-desktop) {
    display: inline-block;
    margin-bottom: 16px;
  } 
  }

.address__item {
  margin-bottom: 16px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

.address__link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color var(--animation);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-text-color);
}
