.advantages {
  padding-top: 88px;
  padding-bottom: 48px;

  &__title {
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    text-align: center;
  }

  &__list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1060px;
    gap: 56px;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px;
    width: calc((100% - 112px) / 3);
    border-radius: 32px;
  }

  &__list-icon {
    margin-bottom: 8px;
    fill: var(--advantages-icon-color);
  }

  &__list-text {
    color: var(--advantages-text-color);
    /* text-align: center; */
    font-size: 18px;
    line-height: calc(24 / 18);
    text-align: center;
  }
}
