.contacts {
  padding-top: 20px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 48px;
    padding-bottom: 94px;
  }

  &__title {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: $bp-desktop) {
      justify-content: center;
      align-items: center;
      gap: 32px;
      flex-direction: row-reverse;
    }
  }

  &__map {
    height: 232px;
    margin-top: 24px;
    margin-left: -20px;
    margin-right: -20px;
    border: transparent;

    @media screen and (min-width: $bp-tablet) {
      height: 400px;
      border-radius: 32px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 605px;
      height: 481px;
      margin-top: 0;
      margin-left: 0;
    margin-right: 0;
    }
  }
}
