.footer {
    position: relative;
    padding: 56px 0;
    background-color: var(--secondary-bg-color);
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }
  
  .footer::after {
    content: '';
    position: absolute;
    width: 247px;
    height: 152px;
    bottom: 0;
    right: 0;
    background-image: url(../images/footer-bg-decor.png);
    background-repeat: no-repeat;
  }
  
  .footer__container-wrapper {    
    display: flex;
    gap: 186px;
  }
      
  .footer__nav {
    display: flex;
    justify-content: space-between;    
    flex-grow: 1;
  }
  
  .footer__logo {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .footer__menu-item {
    margin-bottom: 16px;
  }
  
  .footer__menu-item:last-child {
    margin-bottom: 0px;
  }
  
  .footer__menu-link {
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: color var(--animation);
  }
  
  .footer__menu-link:hover,
  .footer__menu-link:focus {
    color: var(--accent-text-color);
  }
  
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
      
  .footer__soc-list {
    display: flex;
    gap: 24px;
  }
  
  .footer__soc-link:hover .footer__soc-icon,
  .footer__soc-link:focus .footer__soc-icon {
    fill: var(--accent-text-color);
  }
  
  .footer__soc-icon {
    fill: var(--soc-footer-icon-color);
    transition: fill var(--animation);
  }
  
  .footer__text-policy {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: color var(--animation);
  }
  
  .footer__text-policy:hover,
  .footer__text-policy:focus {
    color: var(--accent-text-color);
  }
  
  .footer__text-warning {
    font-size: 13px;
    line-height: 1.2;
    color: var(--info-text-color);
  }