.menu {
    display: none;
  
    &__link {
      padding-top: 15.72px;
      padding-bottom: 15.72px;
      font-size: 18px;
      line-height: 1.2;
      text-decoration: none;
      color: var(--primary-text-color);
      transition: color var(--animation);

      @media screen and (min-width: $bp-desktop) {
        padding-top: 42.5px;
      padding-bottom: 42.5px;
      }
    }
  
    &__link:hover,
    &__link:focus {
      color: var(--accent-text-color);
    }
  
    &__link-current {
      font-weight: 700;
      line-height: 1.2;
      color: var(--accent-text-color);
    }
  
    @media screen and (min-width: $bp-tablet) {    
        display: flex;
        gap: 20px;            
    }

    @media screen and (min-width: $bp-desktop) {    
      gap: 56px;            
  }
  }