.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background-color: var(--backdrop-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  & .modal {
    transform: scale(1.5);
  }
}

.modal {
  position: relative;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  max-width: 310px;
  max-height: 680px;
  background-color: var(--secondary-bg-color);
  background-image: url(../images/record-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  border-radius: 24px;
  transition: transform var(--animation);
  overflow-y: auto;

  @media screen and (min-width: $bp-mobile) {
    max-width: 460px;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 144px;
    max-width: 723px;
    border-radius: 48px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #012458;
    border-radius: 4px;
    width: 50%;
  }

  &::-webkit-scrollbar-track {
    margin: 50px 10px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    width: 50%;
  }

  &__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      top: 42px;
      right: 42px;
    }
  }

  &__btn-close:hover {
    scale: 1.1;
  }

  &__btn-close-icon {
    fill: var(--btn-text-color);
    stroke: var(--btn-text-color);
  }

  &__title {
    margin-bottom: 40px;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    color: var(--secondary-text-color);
    text-align: center;

    @media screen and (min-width: $bp-mobile) {
      font-size: 64px;
    }
  }

  &__text {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: var(--secondary-text-color);
  }

  &__text-secondary {
    color: var(--accent-text-color);
  }

  &__form-field {
    position: relative;
    margin-bottom: 24px;
  }

  &__input {
    width: 100%;
    border-radius: 32px;
    border: 2px solid var(--input-border-color);
    font-size: 13px;
    line-height: 1.2;
    padding: 18px 32.85px;
    color: var(--input-text-color);
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    transition: background-color var(--animation);
  }

  &__input:hover,
  &__input:focus {
    background-color: var(--input-bg-hover);
  }

  &__label {
    position: absolute;
    left: 32.85px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-text-color);
    font-size: 13px;
    line-height: 1.2;
  }

  &__input:hover + &__label,
  &__input:focus + &__label {
    transform: translateY(-280%);
  }

  &__input:not(:placeholder-shown) + &__label {
    transform: translateY(-280%);
  }

  &__form-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
  }

  &__form-btn:hover,
  &__form-btn:focus {
    color: var(--btn-text-color);
  }

  &__form-text-policy,
  &__form-policy {
    max-width: 205px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    line-height: calc(18 / 12);
    text-align: center;
    color: var(--info-text-color);
    text-underline-offset: 2px;
  }
}
