.reincarnate {
  padding-bottom: 20px;
  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 88px;
  }

  &__wrapper {
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
      gap: 28px;
    }
  }

  &__wrapper-text {
    @media screen and (min-width: $bp-desktop) {
      max-width: 709px;
    }
  }

  &__title {
    max-width: 264px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $bp-tablet) {
      max-width: 350px;
      padding-top: 39.66px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 529px;
      padding-top: 39.66px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
      line-height: calc(38 / 22);
    }
  }

  &__text-width {
    margin-bottom: 16px;
    @media screen and (min-width: $bp-desktop) {
      max-width: 650px;
      margin-bottom: 40px;
    }
  }

  &__text-bold {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__img {
    position: relative;
    flex-grow: 1;
  }

  &__img-list {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      /* float: right; */
    }
  }

  &__img-item {
    float: right;
  }

  &__img-img {
    width: 335px;
    height: 328px;
    border-radius: 50%;
  }

  &__star-big {
    position: absolute;
    bottom: -46px;
    right: 0;
    fill: var(--star-big-bg-color);
    animation: rotate-big var(--animation-star);
    transition: transform var(--animation-star);

    @media screen and (min-width: $bp-desktop) {
      width: 64px;
      height: 64px;
      top: 335px;
      right: 395px;
    }
  }

  @keyframes rotate-big {
    0% {
      transform: rotate(0deg);
    }
    50% {
      scale: 1.5;
      fill: var(--star-medium-bg-color);
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &__star-big:hover {
    transform: rotateZ(360deg);
    scale: 1.5;
    fill: var(--star-medium-bg-color);
  }

  &__star-medium {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      top: -110px;
      right: 100px;
      fill: var(--star-medium-bg-color);
      animation: rotate-medium var(--animation-star);
      transition: transform var(--animation-star);
    }

    @media screen and (min-width: $bp-desktop) {
      top: 32px;
      right: -10px;
    }
  }

  @keyframes rotate-medium {
    0% {
      transform: rotate(0deg);
    }
    50% {
      scale: 1.5;
      fill: var(--star-small-bg-color);
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &__star-medium:hover {
    transform: rotateZ(-360deg);
    scale: 1.5;
    fill: var(--star-small-bg-color);
  }

  &__star-small {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      top: -200px;
      right: 100px;
      fill: var(--star-small-bg-color);
      animation: rotate-small var(--animation-star);
      transition: transform var(--animation-star);
    }

    @media screen and (min-width: $bp-desktop) {
      top: 269px;
      right: 10px;
    }
  }

  @keyframes rotate-small {
    0% {
      transform: rotate(0deg);
    }
    50% {
      scale: 1.5;
      fill: var(--star-big-bg-color);
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &__star-small:hover {
    transform: rotateZ(-360deg);
    scale: 1.5;
    fill: var(--star-big-bg-color);
  }
}
