.reincarnate {
  padding-bottom: 88px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 28px;
  }

  &__wrapper-text {
    max-width: 709px;
  }

  &__title {
    max-width: 529px;
    padding-top: 39.66px;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: calc(38 / 22);
  }

  &__text-width {
    max-width: 650px;
  }

  &__text-bold {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__img {
    position: relative;
    flex-grow: 1;
  }

  &__img-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* float: right; */
  }

  &__img-item {
    float: right;
  }

  &__img-img {
    width: 335px;
    height: 328px;
    border-radius: 50%;
  }

  &__star-big {
    position: absolute;
    top: 335px;
    right: 395px;
    fill: var(--star-big-bg-color);
    animation: rotate-big var(--animation-star);
    transition: transform var(--animation-star);
  }

  @keyframes rotate-big {
    0% {
      transform: rotate(0deg);
    }
    50% {
      scale: 1.5;
      fill: var(--star-medium-bg-color);
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &__star-big:hover {
    transform: rotateZ(360deg);
    scale: 1.5;
    fill: var(--star-medium-bg-color);
  }

  &__star-medium {
    position: absolute;
    top: 32px;
    right: -10px;
    fill: var(--star-medium-bg-color);
    animation: rotate-medium var(--animation-star);
    transition: transform var(--animation-star);
  }

  @keyframes rotate-medium {
    0% {
      transform: rotate(0deg);
    }
    50% {
      scale: 1.5;
      fill: var(--star-small-bg-color);
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &__star-medium:hover {
    transform: rotateZ(-360deg);
    scale: 1.5;
    fill: var(--star-small-bg-color);
  }

  &__star-small {
    position: absolute;
    top: 269px;
    right: 10px;
    fill: var(--star-small-bg-color);
    animation: rotate-small var(--animation-star);
    transition: transform var(--animation-star);
  }

  @keyframes rotate-small {
    0% {
      transform: rotate(0deg);
    }
    50% {
      scale: 1.5;
      fill: var(--star-big-bg-color);
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &__star-small:hover {
    transform: rotateZ(-360deg);
    scale: 1.5;
    fill: var(--star-big-bg-color);
  }
}
